* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }
  
  header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)),
      url("../images/taj.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  nav {
    width: 100%;
    height: 8vh;
    background: rgba(0, 0, 0, 0.2);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  
  nav .logo {
    width: 25%;
    text-align: center;
    /*background: red;*/
  }
  
  nav .menu {
    width: 20%;
    display: flex;
    justify-content: space-around;
  }
  
  nav .menu a {
    /* width: 1%; */
    text-decoration: none;
    padding: 0px 10px;
    color: white;
    font-weight: bold;
  }
  
  nav .menu a:first-child {
    color: #00b894;
  }
  
  main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
  }
  
  section h1 {
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
  }
  
  section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
  }
  
  section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }
  
  section .btnone {
    /*background: #00b894;*/
    background: #fff;
    color: #000;
  
  }
  
  .btnone:hover {
    background: #00b894;
    color: white;
  }
  
  section .btntwo {
    background: #00b894;
    color: white;
  }
  
  .btntwo:hover {
    background: #fff;
    color: #000;
  }
  
  /* .change_content:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #00b894;
  } */
  
 
 

  .back-video1{
    z-index: -1;
    position:fixed;
    width: 100%;
  }


  html {
    height: 100%;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
  }
  
  .gradient-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #1a1a1a, #1a1a1a,#1a1a1a, #373777  ,#1a1a1a, #1a1a1a, #1a1a1a);
    text-align:center;
    color: white;
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content:center;
}


.content{
  text-align: center;
  margin-top: 300px;

}
.content h1{
  
   font-size: 70px;
   color: white;
   font-weight: 600;
   /* padding: 300px 600px; */
   
}
.content a{
   text-decoration: none;
   display: inline-block;
   color: white;
   font-size: 24px;
   border: 2px solid white;
   border-radius: 50px;
   padding: 14px 70px;
   margin-top: 10px;


}

.new-content {
  position: absolute;
  top: 1750px; /* Yahan aapko apne header ke height ke hisab se top value set karni hogi */
  left: 0;
  width: 100%;
  height: 100%;
 
}

.new-content2{
  position: absolute;
  top: 2500px; /* Yahan aapko apne header ke height ke hisab se top value set karni hogi */
  left: 0;
  width: 100%;
  height: 100%;
 
}
.new-content3{
  position: absolute;
  top: 3200px; /* Yahan aapko apne header ke height ke hisab se top value set karni hogi */
  left: 0;
  width: 100%;
  height: 100%;
 
}

.new-content4{
  position: absolute;
  top: 3500px; /* Yahan aapko apne header ke height ke hisab se top value set karni hogi */
  left: 0;
  width: 100%;
 
 
  
 
}

.back-video2{
  z-index: -1;
  width: 100%;
  
}
.back-video3{
  z-index: -1;
  width: 100%;
  
  
  
}
.back-video4{
  z-index: -1;
  width: 100%;
  
  
}

.gradient-container1 {
  height: 100%;
  top: 4200px;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #f00d0d, #ff2424,#c30707, #000070  ,#1a1a1a, #1a1a1a, #1a1a1a);
  text-align:center;
  color: white;
  font-family: Arial, sans-serif;
  align-items: center;
  justify-content:center;
  position: absolute;
  width: 100%;
}

.foot{
  width: 100%;
  height: 10vh;
  position: absolute;
  top: 5100px;
  background-color: #000;
  display: flex;
  justify-content: center;
 
 
}

.foo a{
  color: #00b894;
  align-items: center;
  text-decoration: none;
  align-self: center;
  justify-content: center;
  display: flex;
  
}





